<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">

        <!-- LoginActivity configurada como pantalla inicial -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity definida pero no como inicial -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <!-- Registro Paso 1 -->
        <activity
            android:name=".RegisterStep1Activity"
            android:exported="true" />

        <!-- Registro Paso 2 -->
        <activity
            android:name=".RegisterStep2Activity"
            android:exported="true" />

        <!-- Registro Paso 3 -->
        <activity
            android:name=".RegisterStep3Activity"
            android:exported="true" />

        <!-- Ver Seguimiento -->
        <activity android:name=".VerSeguimientoActivity" />

        <!-- Consejos Saludables -->
        <activity android:name=".ConsejosSaludablesActivity" />

        <!-- Actualizar Peso -->
        <activity android:name=".ActualizarPesoActivity" />

        <!-- Ver historial -->
        <activity android:name=".HistorialSeguimientosActivity" />

        <!-- Información de Alimentos -->
        <activity android:name=".InfoAlimentosActivity" />

        <!-- Detalle de Alimento -->
        <activity android:name=".DetalleAlimentoActivity" />
        <!-- Informacion de Comida -->
        <activity android:name=".ComidaDelDiaActivity" />
        <!-- Detalle de Comida -->
        <activity android:name=".DetalleComidaActivity" />

        <!-- Nuevas actividades para Ejercicios -->
        <activity android:name=".EjerciciosActivity" />




    </application>
</manifest>
